
version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout

      - run:
          name: Install Fargate
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              curl --location --output fargate.zip https://github.com/jpignata/fargate/releases/download/v0.2.3/fargate-0.2.3-linux-amd64.zip
              unzip fargate.zip
            fi
      
      - run:
          name: Deploy
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              ./fargate service deploy sqs-lambda-bridge
            fi



